.select {
  position: relative;
  @include flexBox($direction:column, $justify: center, $align:center, $wrap:nowrap);
  
  &__btn {
    width: 215px;
    border-radius: 10px;
    border: solid 1px $border1;
    padding: 10px 10px 10px 35px;
    cursor: pointer;
    @include flexBox($direction:false, $justify: space-between, $align:center, $wrap:nowrap);

    &__desc {
      & p:first-child {
        font-size: 17px;
        font-weight: bold;
        line-height: 1.35;
        color: $text;
      }

      & p:last-child {
        color: $dark-sky-blue;
        font-size: 15px;
        font-weight: bold;
      }
    }

    &__icon {
      width: 40px;
      @include flexBox($direction:false, $justify: center, $align:center, $wrap:nowrap);

      img {
        width: 12px;
        transition: all .3s ease;
      }
    }
  }

  &__valid-date {
    font-size: 13px;
    line-height: 1.46;
    color: $text2;
    margin-top: 6px;
  }

  &__list {
    @extend .select__btn;
    display: none;
    background-color: $white;
    position: absolute;
    top: 72px;

    &__link {
      display: inline-block;
      color: $text;
      padding:20px 0;
    }

    &__item:not(:last-child) {
      border-bottom: solid 1px $border1;
    }
  }

  &--visible .select__btn__icon img {
    transform: rotate(180deg);
  }

  &--visible .select__list {
    display: block;
  }
}