.section-hero {
    padding-top: 40px;
    background: linear-gradient(270deg, rgba(34,44,127,1) 48%, rgba(63,72,154,1) 100%);

    @media screen and (max-width: 996px)  {
      padding-top: 80px;
    }

    .container {
      text-align: center;
      @include flexBox($direction:false, $justify: center, $align:center, $wrap:nowrap);
  
      @media screen and (max-width: 996px)  {
        flex-direction: column;
      }
    }

  figure {
    @media screen and (max-width: 996px)  {
      order: 2;
    }
  }

  &__content {
    margin-top: -60px;

    @media screen and (max-width: 996px)  {
      margin-top: 0;
      margin-bottom: 38px;
    }

    h1 {
      font-size: 41px;
      font-weight: 800;
      line-height: 1.22;
      color: $white;
      margin-bottom: 20px;
    
      @media screen and (max-width: 560px)  {
        font-size: 29px;
      }
    }

    p {
      color: $white;
      line-height: 1.47;
      margin-bottom: 25px;
      font-size: 17px;
    
    
      @media screen and (max-width: 560px)  {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
}