.main-nav {
  @include flexBox($direction:false, $justify: space-between, $align:center, $wrap:nowrap);

  @media screen and (max-width: 1060px)  {
    // display: none;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    padding: 0 20px;
    @include flexBox($direction:column, $justify:flex-start, $align:flex-start, $wrap:nowrap);
  }

  &__list {
    @include flexBox($direction:false, $justify: space-between, $align:center, $wrap:nowrap);

    @media screen and (max-width: 1060px)  {
      order: 1;
      @include flexBox($direction:column, $justify:flex-start, $align:flex-start, $wrap:nowrap);
    }

    &__item {
      box-sizing: border-box;
      width: 190px;
      @include flexBox($direction:column, $justify: center, $align:center, $wrap:nowrap);
      position: relative;
      transition: all .2s ease-in-out;

      img {
        width: 48px;
        transition: all .3s ease-in-out;
      }

      a {
        width: 100%;
        height: 44px;
        color: $link;
        border-radius: 22px;
        @include flexBox($direction:false, $justify: center, $align:center, $wrap:nowrap);
        transition: all .2s ease-in-out;

        &:hover {
          color: #2a9ac9;
        }
      }
    }
  
    &__item::after,
    &__item.current::after {
      content: "";
      @include bg-cover;
      background-image: url(../images/path.png);
      width: 184px;
      height: 8px;
      background-size: 184px 8px;
      display: block;
      visibility: hidden;
    }
    
    &__item.current::after {
      visibility: visible;
    }
    
    &__item.current a {
      color: $white;
      background-image: url(../images/rectangle.png);
      @include bg-cover;
    }
  }
}