.main-nav {
  width: 74%;
  @include flexBox($direction:false, $justify: space-between, $align:center, $wrap:nowrap);

  @media screen and (max-width: 1060px)  {
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    padding: 0 20px;
    @include flexBox($direction:column, $justify:flex-start, $align:flex-start, $wrap:nowrap);
    display: none;
  }

  &.js-openMenu {
    display: flex;
  }

  &__list {
    margin-top: 40px;
    @include flexBox($direction:false, $justify: space-between, $align:center, $wrap:nowrap);

    @media screen and (max-width: 1060px)  {
      width: 100%;
      order: 1;
      @include flexBox($direction:column, $justify:flex-start, $align:flex-start, $wrap:nowrap);
    }

    &__item {
      position: relative;
      box-sizing: border-box;
      width: 190px;
      @include flexBox($direction:column, $justify: center, $align:center, $wrap:nowrap);
      position: relative;
      transition: all .2s ease-in-out;

      @media screen and (max-width: 1060px)  {
        width: 100%;
        cursor: pointer;
        @include flexBox($direction:row, $justify: space-between, $align:center, $wrap:nowrap);
        border-bottom: 1px solid $border2;
        padding: 4px 0;
      }

      &--column {
        flex-direction: column;
      }

      a {
        height: 44px;
        color: $link;
        border-radius: 22px;
        @include flexBox($direction:column, $justify: center, $align:center, $wrap:nowrap);
        transition: all .2s ease-in-out;

        &:hover {
          color: #2a9ac9;
        }

        @media screen and (max-width: 1060px)  {
          color: $text;
          font-weight: 900;
        }

        img {
          width: 48px;
          margin-bottom: 14px;
          position: absolute;
          top: -48px;
          transition: all .3s ease-in-out;
  
          @media screen and (max-width: 1060px)  {
            display: none;
          }
        }
      }

      & > img {
        display: none;
        width: 14px;
        height: 14px;

        @media screen and (max-width: 1060px)  {
          display: block;
        }
      }

      & .main-nav__list__mobile {
        display: none;
        width: 100%;
        background-color: $border2;
  
        @media screen and (max-width: 1060px)  {
          display: block;
        }
  
        & .main-nav__list__item {
          font-size: 15px;
          
          a {
            font-weight: 500;
          }
  
          img {
            display: none;
            width: 14px;
            height: 14px;
  
            @media screen and (max-width: 1060px)  {
              display: block;
            }
          }
  
          &--light {
            background-color: $white;
            font-weight: bold;
  
            a {
              font-size: 16px;
              font-weight: 800;
            }
          }
        }
      }
    }
  
    &__item.current::after {
      content: "";
      @include bg-cover;
      background-image: url(../images/path.png);
      width: 184px;
      height: 8px;
      background-size: 184px 8px;
      display: block;
    }
    
    
    &__item.current a {
      width: 192px;
      color: $white;
      background-image: url(../images/rectangle.png);
      @include bg-cover;
    }
  }
}