.section-header {
  position: relative;
  height: 148px;

  @media screen and (max-width: 1060px)  {
    height: 100px;
  }

  &__gradient-blue {
    background: linear-gradient(240deg, rgba(0,124,224,1) 1%, rgba(32,203,252,1) 100%);
    box-shadow: 0 5px 29px 0 rgba(0, 0, 0, 0.21);

    // @media screen and (max-width: 1060px)  {
    //   height: 70px;
    // }
  }

  .container {
    height: 100%;
    box-shadow: 0 50px 50px -55px rgba(0, 0, 0, 0.05);
    @include flexBox($direction: false, $justify: space-between, $align:center, $wrap: nowrap );
  }

  &__logo {
    max-width: 200px;

    @media screen and (max-width: 1060px)  {
    max-width: 169px;
    }

    @media screen and (max-width: 630px)  {
    max-width: 141px;
    }
  }

  .mobileMenu {
    width: 24px;
    margin-right: 25px;
    display: none;
    
    @media screen and (max-width: 1060px)  {
      display: block;
      cursor: pointer;
    }
    
    &__close {
      display: none;
    }

    &.js-openMenu .mobileMenu__open  {
      display: none;
    }

    &.js-openMenu .mobileMenu__close  {
      display: block;
    }
  }
}