.section-options {
  margin-bottom: 100px;

  @media screen and (max-width: 520px)  {
    margin-bottom: 0;
  }
  
  &__box {

    > div:first-child > div, > div:nth-child(3) > div {
      text-align: left;
      order: 2;

      @media screen and (max-width: 1020px)  {
        text-align: center;
      }
    }

    > div:nth-child(2) > div, > div:nth-child(4) > div {
      @media screen and (max-width: 1020px)  {
        text-align: center;
        order: 2;
      }
    }

    > div:first-child > figure {
      margin-right: 38px;
      @media screen and (max-width: 1020px)  {
        margin-right: 0;
      }
    }

    div:nth-child(3) > div > figure {
      width: 19px;
      margin-bottom: 39px;
    }

    > div {
      padding: 39px 0;
      @include flexBox($direction: false, $justify: space-between, $align:center, $wrap: nowrap );
      position: relative;

      @media screen and (max-width: 1020px)  {
        @include flexBox($direction: column, $justify: center, $align:center, $wrap: nowrap );
      }

      @media screen and (max-width: 620px)  {
        padding: 0;
      }

      > div {
        text-align: right;
        max-width: 470px;

        @media screen and (max-width: 1020px)  {
          text-align: center;
        }

        h2 {
          font-size: 41px;
          font-weight: 800;
          line-height: 1.22;
          color: $text;
          margin-bottom: 16px;

          @media screen and (max-width: 520px)  {
            font-size: 25px;
          }
        }

        p {
          font-size: 17px;
          line-height: 1.47;
          color: $link;
          margin-bottom: 40px;

          @media screen and (max-width: 1020px)  {
            margin-bottom: 20px;
          }

          @media screen and (max-width: 520px)  {
            font-size: 13px;
          }
        }

        a {
          @media screen and (max-width: 1020px)  {
            width: 100%;
            margin-bottom: 40px;
            box-shadow: 0 10px 20px -5px rgba(0, 90, 135, 0.25);
          }

          @media screen and (max-width: 520px)  {
            font-size: 15px;
          }
        }
      }
    }

    > div:first-child,
    > div:nth-child(3) {
      justify-content: flex-start;
    }

    > div:nth-child(2),
    > div:nth-child(4) {
      justify-content: flex-end;
    }

    > div:nth-child(2) {
      margin-bottom: 50px;
    }
  }

  &__triangle {
    max-width: 199px;
    position: absolute;
    right: 0;
    top: -84px;
    z-index: -1;

    @media screen and (max-width: 1020px)  {
      width: 150px;
    }

    @media screen and (max-width: 520px)  {
      width: 100px;
    }
  }

  &__dashes-hor {
    max-width: 103px !important;
    position: absolute;
    right: 226px;
    top: 0;
  }

  &__arrow-right {
    max-width: 76px !important;
    position: absolute;
    bottom: -20px;
    left: 0;

    @media screen and (max-width: 620px)  {
      width: 38px;
    }
  }

  &__squares {
    max-width: 159px !important;
    position: absolute;
    right: 0;
    top: -44px;
    z-index: -1;

    @media screen and (max-width: 620px)  {
      width: 90px;
    }
  }

  &__2-lines {
    max-width: 31px !important;
    position: absolute;
    bottom: 90px;
    right: 329px;

    @media screen and (max-width: 1020px)  {
    width: 16px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  }

  &__arrow-down {
    max-width: 41px !important;
    position: absolute;
    right: 0;
    top: -100px;
    z-index: -1;

    @media screen and (max-width: 620px)  {
      width: 21px;
      top: 0;
    }
  }

  &__dashed-ver {
    width: 14px !important;
    position: absolute;
    left: 0;
    top: 60%;

    @media screen and (max-width: 620px)  {
      width: 7px !important;
      top: 6%;
    }
  }
}