.main-nav2 {
  
  &__list {
    @include flexBox($direction: false, $justify: space-between, $align:center, $wrap: nowrap );
    
    &__item {
      font-size: 15px;
      font-weight: 400;

      &:not(:first-child) {
        margin-left: 30px;
      }
      
      a {
        color: $very-light-blue;
        line-height: 1.27;
      }
    }

    &__item.current {
      a {
        color: $white;
        font-weight: 600;
      }
    }
  }
}