.btn {
  box-sizing: border-box;
  border-radius: 30px;
  padding: 16px 35px;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &--blue {
    color: $white;
    background: linear-gradient(270deg, rgba(40,128,171,1) 0%, rgba(72,187,244,1) 100%);
  }

  &--white {
    color: $dark-sky-blue;
    background-color: $white;
    border: 2px solid $dark-sky-blue;
  }

  &__transparent {
    border: 2px solid $white;
    font-weight: 700;
    padding: 14px 22px;
    color: $white;

    @media screen and (max-width: 790px)  {
      color: $text;
    border: 2px solid $text;
    }
  }

  &--wide {
  padding: 16px 50px;
  }

  &--wider {
    padding: 16px 70px;
    }
}