.section-hero-swiper {
  background-color: $br;
  position: relative;
  margin-bottom: 159px;

  @media screen and (max-width: 1020px)  {
    padding-bottom: 40px;
  }


  .hero {
    padding: 30px 0;
    @include flexBox($direction: false, $justify: space-between, $align:center, $wrap: nowrap );
    position: relative;

    @media screen and (max-width: 1020px)  {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__content {
      max-width: 450px;

      @media screen and (max-width: 1020px)  {
        order: 2;
        text-align: center;
      }

      &__title {
        font-size: 41px;
        font-weight: 800;
        line-height: 1.22;
        color: $text;
        margin-bottom: 20px;

        @media screen and (max-width: 520px)  {
          font-size: 25px;
        }
      }

      &__desc {
        font-size: 17px;
        line-height: 1.47;
        color: $link;
        margin-bottom: 25px;

        @media screen and (max-width: 520px)  {
          font-size: 13px;
        }
      }

      &__btn {
        margin-bottom: 50px;
      }
    }
  }

  &__image {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 47px;
    @media screen and (max-width: 1020px)  {
      bottom: -26px;
    }
  }

  .swiper-pagination,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 74px; 
    height: 45px;
    background-image: url(../images/slide-rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 64px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1020px)  {
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, -50%);
    }
  }

  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    cursor: pointer;
    background-color: $white !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #7bb3d1 !important;
  }
}

