.header {
  height: 148px;
  .container {
    height: 100%;
    box-shadow: 0 50px 50px -55px rgba(0, 0, 0, 0.05);
    @include flexBox($direction: false, $justify: space-between, $align:center, $wrap: nowrap )
  }

  .logo {
    max-width: 200px;
  }
}

.margin--both {
  margin: 0 40px;
}

.margin--right {
  margin-right: 40px;
}

.margin--left {
  margin-left: 40px;

}