$white: #fff;
$br: #edf4f7;
$text: #293840;
$text2: #546873;
$link: #96a7b0;
$dark-sky-blue: #3fb0e8;

$bg-purple: #3f489a;
$bg-blue: #2f8dbc;

$lighter-blue: #48bbf4;
$light-blue: #2880ab;
$very-light-blue: #d6f3ff;

$border1: #e1ebf0;
$border2: #edf4f7;
$border3: #fcf3e3;

$orange: #ef7800;