.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.margin--both {
  margin: 0 40px;

  @media screen and (max-width: 930px)  {
    margin: 0;
  }
}

.margin--right {
  margin-right: 40px;

  @media screen and (max-width: 930px)  {
    margin: 0;
  }
}

.margin--left {
  margin-left: 40px;

  @media screen and (max-width: 930px)  {
    margin: 0;
  }
}

.js-overflowHidden {
  overflow: hidden;
}